mat-card {
  margin-top: 24px;
  margin-bottom: 24px;

  mat-card-header {
    flex-direction: column;
  }

  mat-card-content {
    padding-top: 16px;
  }
}

mat-error {
  display: block;
}

.description {
  margin-top: 12px;;
}

.center-text {
  text-align: center;
}

.team-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;

  &:nth-last-child(n + 2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

gt-loading-button ::ng-deep button {
  width: 110px;
}
