<div class="spinner-container" *ngIf="loading">
  <mat-spinner diameter="24"></mat-spinner>
</div>
<button
  *ngIf="buttonStyle === 'flat'"
  [class.full-width]="fullWidth"
  mat-flat-button
  color="primary"
  [disabled]="loading || disabled"
>
  <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  <span [class.loading]="loading">{{ buttonText }}</span>
</button>
<button
  *ngIf="buttonStyle === 'basic'"
  [class.full-width]="fullWidth"
  mat-button
  color="primary"
  [disabled]="loading || disabled"
>
  <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  <span [class.loading]="loading">{{ buttonText }}</span>
</button>
<button
  *ngIf="buttonStyle === 'stroked'"
  (click)="buttonClick.emit()"
  mat-stroked-button
  color="primary"
  [disabled]="loading || disabled"
>
  <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  <span [class.loading]="loading">{{ buttonText }}</span>
</button>
