@import "variables";

.dialog-wrapper {
  width: 500px;

  @media screen and (max-width: $tablet - 1) {
    width: 100%;
  }

  h1 {
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.error {
  color: #f44336;
  text-align: center;

  span {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.switch {
  margin-top: 32px;
  margin-bottom: 32px;

  .webhook {
    width: 100%;

    svg {
      width: 24px;
      height: 24px;
      vertical-align: -5px;
      margin: 0 8px;
    }
  }

  .email {
    text-align: center;
  }

  .default {
    text-align: center;
  }
}

.type {
  width: 100%;
}


mat-dialog-actions {
  justify-content: flex-end;
}
