<mat-card>
  <mat-card-header>
    <mat-card-title i18n>TOTP authentication</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <ng-container *ngIf="TOTPKey$ | async as TOTPKey; else TOTPDisabled">
      <p i18n>TOTP authentication is currently enabled on your account.</p>
      <button
        mat-flat-button
        color="primary"
        (click)="deleteKey(TOTPKey.id)"
        i18n
        >Disable TOTP</button
      >
      <gt-backup-codes></gt-backup-codes>
    </ng-container>
    <ng-template #TOTPDisabled>
      <p class="mat-h3" i18n
        >Make your account more secure by requiring a time-based one time
        password (TOTP) code after you log in.</p
      >
      <p class="mat-body-1" i18n>
        If you ever lose access to your codes, you can recover your account with
        your <strong>backup codes</strong>.
      </p>

      <div class="totp-process" *ngIf="step$ | async as step">
        <div *ngIf="step === 1">
          <button mat-flat-button color="primary" (click)="incrementStep()" i18n
            >Get Started</button
          >
        </div>
        <gt-to-do-item
          [isDone]="getStepIsDone(2, step)"
          title="Download authenticator app"
        ></gt-to-do-item>
        <div>
          <div *ngIf="step === 2">
            <div class="mat-h3">
              <ng-container i18n>Download&nbsp;</ng-container>
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://authy.com/download/"
                >Authy</a
              >,
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2"
                >Google Authenticator</a
              >,
              <a
                target="_blank"
                rel="noopener noreferrer"
                href="https://play.google.com/store/apps/details?id=me.jmh.authenticatorpro"
                >Authenticator Pro</a
              >,
              <ng-container i18n
                >or your favorite TOTP app on your mobile device</ng-container
              >.
            </div>
            <div class="mat-h4" i18n
              >Once you have the app running, proceed to the next step.</div
            >
            <div>
              <button
                mat-flat-button
                color="primary"
                (click)="incrementStep()"
                i18n
                >Next</button
              >
            </div>
          </div>
        </div>
        <gt-to-do-item
          [isDone]="getStepIsDone(3, step)"
          title="Save backup codes"
        ></gt-to-do-item>
        <div *ngIf="step === 3">
          <gt-backup-codes></gt-backup-codes>
        </div>
        <gt-to-do-item
          [isDone]="getStepIsDone(4, step)"
          title="Activate TOTP"
        ></gt-to-do-item>
        <div *ngIf="step === 4">
          <div>
            <p class="mat-h3" i18n
              >Scan the QR Code in your authenticator app or enter the code
              below:</p
            >
          </div>
          <canvas #canvas id="canvas"></canvas>
          <div *ngIf="TOTP$ | async as TOTP">
            <span class="totp-string">{{ TOTP.secret_key }}</span>
          </div>
          <form [formGroup]="codeForm" (ngSubmit)="enableTOTP()">
            <div>
              <p class="mat-body-strong" i18n
                >Enter a six-digit password generated by your authenticator app
                and submit this form to enable TOTP authentication:</p
              >
            </div>
            <gt-form-error [error]="error$ | async"></gt-form-error>
            <mat-form-field appearance="outline">
              <mat-label i18n>6-digit Code</mat-label>
              <input
                matInput
                formControlName="code"
                pattern="\d*"
                maxlength="6"
              />
              <mat-error *ngIf="code?.invalid">
                <span *ngIf="code?.errors?.required" i18n>Required</span>
                <span
                  *ngIf="code?.errors?.minlength || code?.errors?.maxlength"
                  i18n
                  >Code must be 6 digits</span
                >
              </mat-error>
            </mat-form-field>
            <div>
              <button id="submit" mat-flat-button color="primary" i18n
                >Enable TOTP</button
              >
            </div>
          </form>
        </div>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
