<section class="l-body">
  <mat-card>
    <mat-card-header class="flex-space-between">
      <mat-card-title i18n>Create New Token</mat-card-title>
      <a
        mat-flat-button
        [routerLink]="['/profile', 'auth-tokens']"
        aria-label="Back to auth tokens"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
        Auth Tokens
      </a>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-error class="server-error"
        ><span *ngIf="createError$ | async">{{
          createError$ | async
        }}</span></mat-error
      >
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Label</h2>
        <p>Give your token a name, so you can easily identify it.</p>
        <mat-form-field appearance="outline">
          <mat-label>Label</mat-label>
          <input matInput type="text" formControlName="label" />
          <mat-error
            ><span *ngIf="label?.errors?.required"
              >Create a label for your auth token</span
            ><span *ngIf="label?.errors?.serverErrorLabel">{{
              label.errors?.serverErrorLabel
            }}</span></mat-error
          >
        </mat-form-field>
        <h2>Scopes</h2>
        <p>Set the kind of access you want this token to have to your app.</p>
        <mat-checkbox
          class="select-all"
          #selectAllCheckbox
          (change)="bulkModifyScopes()"
        >
          <b>Full Access</b>
        </mat-checkbox>
        <ul>
          <li
            formArrayName="scopes"
            *ngFor="let scope of scopes.controls; let i = index"
          >
            <mat-checkbox [formControlName]="i">
              {{ scopeOptions[i] }}
            </mat-checkbox>
          </li>
        </ul>

        <mat-error class="checkbox-error"
          ><span *ngIf="scopes?.errors?.selectOne"
            >Select at least one scope</span
          ><span *ngIf="scopes?.errors?.serverErrorScopes">{{
            scopes.errors?.serverErrorScopes
          }}</span></mat-error
        >
        <gt-loading-button
          [loading]="(createLoading$ | async) === true"
          buttonText="Create Token"
        ></gt-loading-button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
