<section class="l-body">
  <header>
    <a mat-stroked-button [routerLink]="['..']">
      <mat-icon>keyboard_arrow_left</mat-icon>
      View all uptime monitors
    </a>
    <h1 class="mat-headline-4">Create a New Uptime Monitor</h1>
  </header>
  <gt-monitor-form
    [loading]="(loading$ | async) === true"
    [formError]="error$ | async"
    (formSubmitted)="submit($event)"
  ></gt-monitor-form>
</section>
