@use '@angular/material' as mat;
@import "variables";

header {
  display: flex;
  flex-direction: column;
  margin-top: -16px;

  a {
    width: fit-content;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  margin-bottom: 20px;
}

.delete {
  margin-top: 20px;

  .remove-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet - 1) {
      flex-direction: column;
      align-items: flex-start;
    }

    p {
      padding-right: 16px;
    }
  }
}
