@use '@angular/material' as mat;
@import "variables";

.table-actions {
  display: flex;
  justify-content: space-between;
}

.button-group {
  button {
    font-size: 0.95em;
    line-height: 30px;
    padding: 0 12px;

    &:not(:last-of-type) {
      margin-right: 10px;

      @media screen and (max-width: $small - 1) {
        margin-right: 5px;
      }
    }
  }
}

.action-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: $tablet - 1) {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: $tablet) {
    > * {
      padding-left: 10px;
      padding-right: 10px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .environment-form,
  .sort-form {
    ::ng-deep .mat-form-field-infix {
      width: 130px;
    }
  }

  .date-form,
  .search-form {
    flex: 1;
    max-width: 500px;

    @media screen and (max-width: $tablet - 1) {
      padding-bottom: 5px;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .date-form {
    padding-right: 20px;

    @media screen and (max-width: $tablet - 1) {
      padding-right: 0;
    }
  }

  .search-form {
    max-width: 350px;
  }

  form.date-form {
    display: flex;
    align-items: center;

    @media screen and (max-width: $small - 1) {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    > mat-form-field {
      width: 140px;
      margin-right: 15px;
    }

    button {
      margin-top: -14px;
      margin-right: 5px;

      @media screen and (max-width: $small - 1) {
        margin-top: 0;
      }
    }
  }
}
