<section class="l-body">
  <header class="page-header">
    <h1 class="mat-headline-4">#{{ teamSlug$ | async }}</h1>
    <a
      mat-flat-button
      [routerLink]="['/', orgSlug$ | async, 'settings', 'teams']"
    >
      <mat-icon>keyboard_arrow_left</mat-icon
      ><ng-container i18n>Back to Teams</ng-container></a
    >
  </header>

  <nav mat-tab-nav-bar mat-stretch-tabs="false" [tabPanel]="tabPanel">
    <a
      *ngFor="let link of navLinks"
      mat-tab-link
      [routerLink]="link.path"
      routerLinkActive
      [active]="rla.isActive"
      #rla="routerLinkActive"
      >{{ link.label }}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</section>
